@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* contextMenu */
	.appleMenuItem {
		@apply px-1 mx-1 rounded hover:bg-primary hover:text-white;
	}
	.menuDivider {
		@apply border-t mx-2 m-1 border-[var(--contextmenu-divider)];
	}

	.flex-center {
		@apply flex justify-center items-center;
	}
}

:root {
	--contextmenu-divider: #555555;
}

* {
	@apply m-0 p-0;
}

/* 配置cursor默认样式 */
html,
body,
#root {
	@apply h-full overflow-hidden;
	cursor: url('../public/cursors/normal-select.svg'), auto;
}

button {
	cursor: url('../public/cursors/normal-select.svg'), auto;
}

/* Slider，重写 react-rangeslider 样式 */
.slider .rangeslider {
	@apply bg-gray-300 w-full h-7 shadow-none m-0;
}

.slider .rangeslider .rangeslider__fill {
	@apply bg-gray-100 shadow-none rounded-none;
}

.slider .rangeslider .rangeslider__handle {
	@apply border border-gray-300 outline-none h-7 w-7 text-white bg-white;
	box-shadow: -3px 0px 8px 0px rgba(17, 17, 17, 0.15);
}

.slider .rangeslider .rangeslider__handle::after {
	@apply hidden;
}

/* Dock */
/* tooltip 只有在hover的时候显示 */
.dock li .tooltip {
	@apply hidden;
	top: calc(-100% - 5px);
}

.dock li:hover .tooltip {
	@apply block;
	box-shadow: hsla(0deg, 0%, 0%, 20%) 0px 1px 5px 2px, 0 0 0 0 white;
}

/* Link */
.appLink {
	cursor: url('../public/cursors/normal-select.svg'), auto;
}

/* mockup-code */
.mockup-code::before {
	display: none;
}

/* input */
.input {
	color: black;
	background-color: white;
}

/* chatlist */
.chatlist::-webkit-scrollbar {
	width: 8px;
}
.chatlist::-webkit-scrollbar-thumb {
	visibility: hidden;
	border-radius: 5px;
	background-color: #585858;
}
.chatlist::-webkit-scrollbar-track {
	background-color: transparent;
}
.chatlist::-webkit-scrollbar-thumb:hover {
	background-color: #585858;
}

.chatlist_::-webkit-scrollbar {
	width: 8px;
}
.chatlist_::-webkit-scrollbar-thumb {
	visibility: visible;
	border-radius: 5px;
	background-color: #585858;
}
.chatlist_::-webkit-scrollbar-track {
	background-color: transparent;
}
.chatlist_::-webkit-scrollbar-thumb:hover {
	background-color: #585858;
}

.chat-bubble {
	min-height: 0;
	min-width: 0;
	max-width: 100%;
}
